.pole {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(0, 0, 0);
  margin: 1px solid;
  display: inline-block;
  flex-wrap: wrap;
}

.zradlo {
  background: red
}
.had {
  background: lime;
}

.zradlo {
  background: red;
}

.had.zradlo {
  background: orange;
}

body {
  overflow: hidden;
}

.tlacitko{
  background: yellow;
  border: none
} 